.header {
    min-height: 136px;
    display: flex;
    align-items: center;
    padding: 0 56px;
    position: relative;
    z-index: 50;
    background: #fafafa;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.2);
    border-bottom: 3px solid $primary-color;
    &--home-page {
        box-shadow: none;
    }
}

.header-logo {
    width: 165px;
    height: 119px;
    margin-right: 60px;
    color: $primary-text-color;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: .8px;
    text-transform: uppercase;
    line-height: 54px;
    a {
        font-size: 0;
        display: block;
        background: url('../images/logo.png');
        width: 165px;
        height: 119px;
    }
}

.header-menu {
    li {
        display: inline-block;
            margin-left: 20px;

    }

    a {
        color: $primary-text-color;
        font-weight: 400;
    }
}

.header-notification {
    position: relative;
    margin-right: 40px;
    cursor: pointer;
    &-icon {
        width: 22px;
        height: 24px;
        background: url('../images/icons/icon-notification.png') no-repeat;
    }

    &-badge {
        display: inline-block;
        position: absolute;
        top: -2px;
        left: 12px;
        padding: 0 .3rem;
        height: 1.8rem;
        min-width: 1.3rem;
        font-size: 1.2rem;
        line-height: 1.8rem;
        color: $white-text-color;
        text-align: center;
        border-radius: 100%;
        background: $primary-color;
    }

    a {
        text-decoration: none;
        color: $white-text-color;
    }
}

.header-account {
    margin-right: 40px;
    display: flex;
    align-items: center;
    &-icon {
        width: 24px;
        height: 22px;
        margin-right: 8px;
        background: url('../images/icons/icon-account-money.png') no-repeat;
    }

    &-title {
        color: $primary-color;
        font-size: 1.8rem;
        font-weight: bold;
        a {
            color: $primary-color;
            font-weight: bold;
        }
    }
}

.header-profile {
    position: relative;
    &-top {
        display: flex;
        align-items: center;
        padding: 10px 0;
    }

    &-name {
        font-size: 1.8rem;
        font-weight: bold;
        margin-right: 16px;
        cursor: default;
    }

    &-arrow {
        width: 9px;
        height: 7px;
        background: url('../images/icons/icon-bottom-arrow.png') no-repeat;
    }

    &-menu {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background: #fff;
        border: 1px solid #ccc;
        padding: 4px 0;
        border-radius: 2px;
        box-shadow: $z-depth-1;
        a {
            display: block;
            padding: 0 40px;
            min-height: 30px;
            line-height: 42px;
            color: $primary-text-color;
            white-space: nowrap;
            text-decoration: none;
            font-size: 14px;
            &:hover {
                background: #eee;
            }
        }
    }

    &:hover {
        .header-profile-menu {
            display: block;
        }
    }
}

.header-login {
    a {
        font-size: 14px;
        font-weight: 400;
        text-transform: none;
        &:not(:first-child) {
            margin-left: 25px;
        }
        &:not(.form-button) {
            color: $primary-text-color
        }
    }
}
