.b-history {
    margin: 30px 0 30px;
    max-width: 800px;
}

.b-history-filter {
    &__title {
        display: inline-block;
    }
    &__list {
        display: inline-flex;
        li {
            padding: 0 8px;
            &:not(:last-child) {
                border-right: 1px solid #ccc;
            }
        }
        a {
            color: $primary-text-color;
        }
    }
}

.b-history-table {
    margin: 30px 0;
    border-spacing: 0;
    border-collapse: collapse;
    max-width: 800px;
    width: 100%;
    tr {
        border-top: 1px solid $divider-color;
        border-bottom: 1px solid $divider-color;
        &:hover {
            background: #f7f7f7;
        }
    }
    td {
        height: 36px;
        padding: 10px;
    }
}

.b-history-table-item {
    &__amount {
        font-size: 1.8rem;
        font-weight: 600;
        white-space: nowrap;
        &--plus {
            color: $primary-color;
        }
    }
    &__content {
        max-width: 300px;
        width: 100%;
    }
    &__date {
        white-space: nowrap;

    }
    &__status {
        white-space: nowrap;
        font-weight: bold;
        .icon {
            display: inline-block;
            margin-left: 4px;
        }
        &--success {
            color: $primary-color;
            .icon {
                background: url('../images/icons/icon-success.png') no-repeat;
                width: 16px;
                height: 10px;
            }
        }
        &--wait {
            color: $blue-color;
            .icon {
                display: none;
            }
        }
        &--fail {
            color: $red-color;
            .icon {
                background: url('../images/icons/icon-fail.png') no-repeat;
                width: 11px;
                height: 11px;
            }
        }
    }
}
