.home-page-container {
    flex: 1;
    background: linear-gradient(to bottom, #fafafa 0%, #eaebeb 100%);
    padding-bottom: 50px;
    overflow: hidden;
}

.home-page-content {
    width: 100%;
    max-width: 1000px;
    padding: 0 70px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    &:before {
        content: '';
        display: block;
        width: 680px;
        height: 445px;
        background: url('../images/home-page-grafic.png') top right no-repeat;
        position: absolute;
        top: 0;
        left: 520px;
    }
}

.home-page-text {
    width: 460px;
    padding: 20px 0 0;
    h2 {
        font-size: 40px;
        font-weight: 900;
        margin: 0 0 10px;
        padding: 50px 0 0;
    }
}

.home-page-list {
    padding: 80px 0 40px;
    ul {
        display: flex;
        justify-content: space-between;
    }

    li {
        position: relative;
    }

    &__number {
        width: 27px;
        height: 27px;
        border-radius: 100%;
        background: #27ae61;
        font-size: 14px;
        color: #fff;
        text-align: center;
        line-height: 27px;
        position: absolute;
        z-index: 1;
    }

    &__icon {
        width: 105px;
        height: 105px;
        border-radius: 100%;
        background: #ffffff;
        box-shadow: 0 0 35px rgba(0,0,0,.3);
        position: relative;
        margin: 0 auto;
        img {
            vertical-align: top;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__title {
        font-size: 14px;
        color: $primary-text-color;
        text-align: center;
        padding-top: 16px;
    }
}
