@import "typography";
@import "header";
@import "sidebar";
@import "home-page";
@import "registration";
@import "login-form";
@import "news";
@import "history";
@import "grid";
@import "invited-users";

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1000px;
    padding: 0 70px;
    margin: 0 auto;
    box-sizing: border-box;
}

.flex-fill {
    flex: 1;
}

.content {
    flex:1;
    display: flex;
}

.main {
    flex: 1;
    background: #f2f2f2;
    padding: 40px 56px;
}

.footer {
    background: #faf9f7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 45px 56px;
    border-top: 3px solid $primary-color;
}

.b-referral-data-page {
    max-width: 800px;

}