.list-invited-users {
    li {

    }
}

.invited-user {
    display: flex;
    align-items: center;
    padding: 10px 0;
    &:not(:last-child) {
        border-bottom: 1px solid #ccc;
    }
    &__icon {
        width: 55px;
        height: 55px;
        background: url('../images/icons/icon-matrix-user-green.png') center no-repeat;
        background-size: 100% auto;
        display: inline-block;
    }
    &__name {
        padding-left: 15px;
        flex: 1;
    }
    &--empty {
        .invited-user {
            &__icon {
                background-image: url('../images/icons/icon-matrix-empty-user.png');
            }
        }
    }
}