.news-container {

}

.news-preview {
    padding: 16px 0;
    border-top: 1px solid $divider-color;
    &__title {
        font-weight: 500;
        margin: 0 0 10px;
        padding: 0;
        font-size: 18px;
        a {
            color: $primary-text-color;
        }
    }
}

.post-news {
    &__content {
        line-height: 18px;
        img {
            width: 100%;
            max-width: 100%;
            height: auto !important;
        }
    }
    &__author {
        padding: 16px 0 0;
    }
}
