.registration-form {
    display: flex;
    margin-bottom: 30px;
    &__left-pane {
        width: 50%;
        box-sizing: border-box;
        padding-right: 5px;
    }
    &__right-pane {
        width: 50%;
        box-sizing: border-box;
        padding-left: 5px;
    }
}

.registration-form-bottom-pane {
    text-align: center;
}
