.aside {
    width: 320px;
    background: $primary-color;
}

.side-bar-menu {
    li {
        display: flex;
        align-items: stretch;
        height: 80px;
        border-bottom: 1px solid #71c895;
        &.is-active,
        &:hover {
            background: $dark-primary-color url('../images/icons/icon-arrow.png') 280px center no-repeat;
        }

        &.is-disabled {
            background: $light-primary-color;
            opacity: .9;
            span,
            a {
                cursor: not-allowed;
            }
        }
    }

    span,
    a {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0 40px 0 56px;
        font-size: 1.8rem;
        font-weight: 300;
        text-decoration: none;
        color: $white-text-color
    }
}
