.b-all-bank-cards {
    margin-top: 40px;
}

.b-bank-card {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 380px;
    height: 210px;
    padding: 30px 40px 0;
    margin: 0 60px 60px 0;
    background: #fff;
    border: 1px dashed $primary-text-color;
    border-radius: 20px;
    position: relative;
    &__name {
        height: 70px;
        overflow: hidden;
        font-size: 18px;
    }
    &__number {
        position: absolute;
        bottom: 60px;
        left: 40px;
        font-size: 28px;
        white-space: nowrap;
        width: 270px;
    }
    &__edit {
        position: absolute;
        bottom: 30px;
        left: 40px;
        a {
            color: $primary-color
        }
    }
}

.b-add-card {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 350px;
    height: 210px;
    padding: 0;
    background: url('../images/icons/icon-add-card.png') center center no-repeat;
    border: 1px dashed $primary-text-color;
    border-radius: 20px;
    position: relative;
    a {
        display: block;
        width: 100%;
        height: 100%;
    }

    &:hover {
        background-color: rgba(255,255,255,.5);
    }
}
