.form-button {
    background-color: $primary-color;
    border: 1px solid  $primary-color;
    color: #fff;

    display: inline-block;
    height: 47px;
    padding: 0 25px;
    margin-bottom: 0;
    border-radius: 50px;

    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    line-height: 47px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;

    cursor: pointer;
    user-select: none;
    &:hover {
        background: $dark-primary-color;
    }
}

.form-help-error,
.form-help-error strong {
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    color: $red-color;
}

.form-help-success {
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    color: $primary-color;
}

.form-field-label {
    margin: 20px 0 0;
    font-size: 14px;
}
.form-field-value {
    display: block;
    margin: 5px 0 20px;
    font-size: 18px;
    font-weight: 500;
}

select.form-field,
textarea.form-field,
input[type="text"].form-field,
input[type="email"].form-field,
input[type="date"].form-field,
input[type="password"].form-field,
input[type="tel"].form-field {
    box-sizing: border-box;
    height: 44px;
    width: 400px;
    display: block;
    margin: 5px 0 20px;
    padding: 8px;

    font-size: 16px;
    line-height: 20px;

    vertical-align: middle;
    border: 2px solid #dfdfdf;
    background: #faf9f7;
}

textarea.form-field {
    min-height: 180px;
    padding: 8px;
    font-size: 16px;
}

.form-checkbox {
    display: block;
    margin: 15px 0;
    &__input,
    &__text {
        vertical-align: middle;
    }
}
