.b-matrix {
    width: 750px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 4px;

    &.b-desk-level-1 {
        background: #e6e6e6;
    }
    &.b-desk-level-2 {
        background: #acdcff;
    }
    &.b-desk-level-3 {
        background: #d9ffda;
    }
    &.b-desk-level-4 {
        background: #ff7c7b;
    }
    &.b-desk-level-5 {
        background: #fdffa9;
    }
    &.b-desk-level-6 {
        background: #7bf2ff;
    }
}

.b-matrix-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    height: 30px;
    padding: 0 16px;
    background: #ffffff;
    border-radius: 4px 4px 0 0;
    &__name {

    }

    &__position {

    }
}

.b-matrix-content {
    padding: 20px;
}

.b-matrix-user {
    text-align: center;
    padding: 10px 0;
    &__icon {
        width: 70px;
        height: 70px;
        display: inline-block;
        vertical-align: top;
        background: url('../images/icons/icon-matrix-user-green.png') center no-repeat;
        margin-bottom: 10px;
    }

    &__name {

    }

    &--empty {
        .b-matrix-user {
            &__icon {
                background-image: url('../images/icons/icon-matrix-empty-user.png');
            }
        }
    }
}