.pagination {
    margin: 30px 0 !important;
    justify-content: center;
    display: flex;
    li {
        margin: 0 8px;
        span,
        a {
            display: block;
            border: 1px solid $divider-color;
            border-radius: 4px;
            min-width: 35px;
            text-decoration: none;
            padding: 8px 8px;
            box-sizing: border-box;
            text-align: center;
            color: $primary-text-color;
            &:hover {
                background: #f7f7f7;
            }
        }

        span {
            cursor: default;
        }

        &.active {
            span,
            a {
                background: $primary-color;
                color: $white-text-color;
                &:hover {
                    background: $primary-color;
                }
            }
        }
    }
}
