.b-tabs-container {

}

.main > .b-tabs-container {
    margin: -40px -56px;
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
}

.b-tabs-header {
    height: 50px;
    background: $primary-color;
    ul {
        display: flex;
    }

    li {
        background: $primary-color;
        &:hover,
        &.b-tab--is-active {
            background: $dark-primary-color;
        }
    }

    a {
        line-height: 50px;
        text-decoration: none;
        padding: 0 20px;
        display: block;
        color: #fff;
    }
}

.b-tabs-content {
    flex: 1;
    padding: 20px 56px 40px;
}