/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none;
}

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Change the default font family in all browsers (opinionated).
     * 2. Correct the line height in all browsers.
     * 3. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0;
}

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block;
}

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px;
}

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
     * Add the correct display in IE.
     */
main {
  display: block;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
     * Remove the outline on focused links when they are also active or hovered
     * in all browsers (opinionated).
     */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit;
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic;
}

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000;
}

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block;
}

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none;
}

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible;
}

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
     * Change the border, margin, and padding in all browsers (opinionated).
     */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto;
}

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block;
}

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item;
}

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block;
}

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block;
}

/**
     * Add the correct display in IE.
     */
template {
  display: none;
}

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #faf9f7;
  color: #212121;
  font-size: 1.4rem;
  font-family: "Roboto", Arial, Verdana, Helvetica, sans-serif;
  line-height: normal;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 10px;
}

a {
  color: #03A9F4;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
  color: #212121;
}

ul:not(.browser-default),
ul:not(.default-style) {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.post-title {
  font-size: 26px;
  font-weight: 400;
  margin: 15px 0;
  padding: 0;
}


.header {
  min-height: 136px;
  display: flex;
  align-items: center;
  padding: 0;
  position: relative;
  z-index: 50;
  background: #fafafa;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
  border-bottom: 3px solid #27ae61;
}

@media (min-width: 992px) {
  .header {
    padding: 0 56px;
  }
}

.header--home-page {
  box-shadow: none;
}

.header-logo {
  width: 165px;
  height: 119px;
  /*margin-right: 60px;*/
  color: #212121;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: .8px;
  text-transform: uppercase;
  line-height: 54px;
}

.header-logo a {
  font-size: 0;
  display: block;
  background: url("../images/logo.png");
  background-size:cover;
  width: 123px;
  height: 90px;
}

@media (min-width: 576px) {
  .header-logo a {
    width: 165px;
    height: 119px;
  }

}



.header-menu li {
  display: inline-block;
}

.header-menu li {
  margin-left: 20px;
}

.header-menu a {
  color: #212121;
  font-weight: 400;
}

.header-notification {
  position: relative;
  margin-right: 40px;
  cursor: pointer;
}

.header-notification-icon {
  width: 22px;
  height: 24px;
  background: url("../images/icons/icon-notification.png") no-repeat;
}

.header-notification-badge {
  display: inline-block;
  position: absolute;
  top: -2px;
  left: 12px;
  padding: 0 .3rem;
  height: 1.8rem;
  min-width: 1.3rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #fff;
  text-align: center;
  border-radius: 100%;
  background: #27ae61;
}

.header-notification a {
  text-decoration: none;
  color: #fff;
}

.header-account {
  margin-right: 40px;
  display: flex;
  align-items: center;
}

.header-account-icon {
  width: 24px;
  height: 22px;
  margin-right: 8px;
  background: url("../images/icons/icon-account-money.png") no-repeat;
}

.header-account-title {
  color: #27ae61;
  font-size: 1.8rem;
  font-weight: bold;
}

.header-account-title a {
  color: #27ae61;
  font-weight: bold;
}

.header-profile {
  position: relative;
}

.header-profile-top {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.header-profile-name {
  font-size: 1.8rem;
  font-weight: bold;
  margin-right: 16px;
  cursor: default;
}

.header-profile-arrow {
  width: 9px;
  height: 7px;
  background: url("../images/icons/icon-bottom-arrow.png") no-repeat;
}

.header-profile-menu {
  display: none;
  position: absolute;
  top: 100%;
  /*right: 0;*/
  background: #fff;
  border: 1px solid #ccc;
  padding: 4px 0;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.header-profile-menu a {
  display: block;
  padding: 0 40px;
  min-height: 30px;
  line-height: 42px;
  color: #212121;
  white-space: nowrap;
  text-decoration: none;
  font-size: 14px;
}

.header-profile-menu a:hover {
  background: #eee;
}

.header-profile:hover .header-profile-menu {
  display: block;
}

.header-login a {
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
}

.header-login a:not(:first-child) {
  margin-left: 25px;
}

.header-login a:not(.form-button) {
  color: #212121;
}

.aside {
  width: 320px;
  background: #27ae61;
}

.side-bar-menu li {
  display: flex;
  align-items: stretch;
  height: 80px;
  border-bottom: 1px solid #71c895;
}

.side-bar-menu li.is-active, .side-bar-menu li:hover {
  background: #239d57 url("../images/icons/icon-arrow.png") 280px center no-repeat;
}

.side-bar-menu li.is-disabled {
  background: #c8e6c9;
  opacity: .9;
}

.side-bar-menu li.is-disabled span,
.side-bar-menu li.is-disabled a {
  cursor: not-allowed;
}

.side-bar-menu span,
.side-bar-menu a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 40px 0 56px;
  font-size: 1.8rem;
  font-weight: 300;
  text-decoration: none;
  color: #fff;
}

.home-page-container {
  flex: 1;
  background: linear-gradient(to bottom, #fafafa 0%, #eaebeb 100%);
  padding-bottom: 50px;
  overflow: hidden;
}

.home-page-content {
  width: 100%;
  max-width: 1000px;
  padding: 0 70px;
  margin: 0 auto;
  margin-top: 80px;
  box-sizing: border-box;
  position: relative;
}

.home-page-content:before {
  content: '';
  display: block;
  width: 680px;
  height: 445px;
  /* background: url("../images/home-page-grafic.png") top right no-repeat; */
  position: absolute;
  top: 0;
  left: 520px;
}

.home-page-text {
  width: 460px;
  padding: 20px 0 0;
}

.home-page-text h2 {
  font-size: 40px;
  font-weight: 900;
  margin: 0 0 10px;
  padding: 50px 0 0;
}

.home-page-content>div>div>h2 {
  font-size: 40px;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

.home-page-content>div>div>h3 {
  font-size: 30px;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

.home-page-list {
  padding: 80px 0 40px;
}

.home-page-list ul {
  display: flex;
  justify-content: space-between;
}

.home-page-list li {
  position: relative;
}

.home-page-list__number {
  width: 27px;
  height: 27px;
  border-radius: 100%;
  background: #27ae61;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 27px;
  position: absolute;
  z-index: 1;
}

.home-page-list__icon {
  width: 105px;
  height: 105px;
  border-radius: 100%;
  background: #ffffff;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
  position: relative;
  margin: 0 auto;
}

.home-page-list__icon img {
  vertical-align: top;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-page-list__title {
  font-size: 14px;
  min-height:56px;
  color: #212121;
  text-align: center;
  padding-top: 16px;
}

.registration-form {
  /*display: flex;
  flex-direction: column;*/
  margin-bottom: 30px;
}

.registration-form__left-pane {
  width: 50%;
  box-sizing: border-box;
  padding-right: 5px;
}

.registration-form__right-pane {
  width: 50%;
  box-sizing: border-box;
  padding-left: 5px;
}

.registration-form-bottom-pane {
  text-align: center;
}

.login-form-reset-password {
  margin-left: 18px;
}

.news-preview {
  padding: 16px 0;
  border-top: 1px solid #e1e1e1;
}

.news-preview__title {
  font-weight: 500;
  margin: 0 0 10px;
  padding: 0;
  font-size: 18px;
}

.news-preview__title a {
  color: #212121;
}

.post-news__content {
  line-height: 18px;
}

.post-news__content img {
  width: 100%;
  max-width: 100%;
  height: auto !important;
}

.post-news__author {
  padding: 16px 0 0;
}

.b-history {
  margin: 30px 0 30px;
  max-width: 800px;
}

.b-history-filter__title {
  display: inline-block;
}

.b-history-filter__list {
  display: inline-flex;
}

.b-history-filter__list li {
  padding: 0 8px;
}

.b-history-filter__list li:not(:last-child) {
  border-right: 1px solid #ccc;
}

.b-history-filter__list a {
  color: #212121;
}

.b-history-table {
  margin: 30px 0;
  border-spacing: 0;
  border-collapse: collapse;
  max-width: 800px;
  width: 100%;
}

.b-history-table tr {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.b-history-table tr:hover {
  background: #f7f7f7;
}

.b-history-table td {
  height: 36px;
  padding: 10px;
}

.b-history-table-item__amount {
  font-size: 1.8rem;
  font-weight: 600;
  white-space: nowrap;
}

.b-history-table-item__amount--plus {
  color: #27ae61;
}

.b-history-table-item__content {
  max-width: 300px;
  width: 100%;
}

.b-history-table-item__date {
  white-space: nowrap;
}

.b-history-table-item__status {
  white-space: nowrap;
  font-weight: bold;
}

.b-history-table-item__status .icon {
  display: inline-block;
  margin-left: 4px;
}

.b-history-table-item__status--success {
  color: #27ae61;
}

.b-history-table-item__status--success .icon {
  background: url("../images/icons/icon-success.png") no-repeat;
  width: 16px;
  height: 10px;
}

.b-history-table-item__status--wait {
  color: #3a9efd;
}

.b-history-table-item__status--wait .icon {
  display: none;
}

.b-history-table-item__status--fail {
  color: #f01717;
}

.b-history-table-item__status--fail .icon {
  background: url("../images/icons/icon-fail.png") no-repeat;
  width: 11px;
  height: 11px;
}

.grid-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 540px) {
  .grid-container {
    width: 80%;
  }
}

@media only screen and (min-width: 960px) {
  .grid-container {
    width: 75%;
    max-width: 960px;
  }
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  /*margin: 8px 2%;*/
  min-height: 2px;
}

.coltree {
  margin: 8px 2%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.3333333333%;
}

.col-2-sm {
  width: 12.6666666667%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.3333333333%;
}

.col-5-sm {
  width: 37.6666666667%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.3333333333%;
}

.col-8-sm {
  width: 62.6666666667%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.3333333333%;
}

.col-11-sm {
  width: 87.6666666667%;
}

.col-12-sm {
  width: 96%;
}

@media only screen and (min-width: 720px) {
  .col-1 {
    width: 4.3333333333%;
  }
  .col-2 {
    width: 12.6666666667%;
  }
  .col-3 {
    width: 21%;
  }
  .col-4 {
    width: 29.3333333333%;
  }
  .col-5 {
    width: 37.6666666667%;
  }
  .col-6 {
    width: 46%;
  }
  .col-7 {
    width: 54.3333333333%;
  }
  .col-8 {
    width: 62.6666666667%;
  }
  .col-9 {
    width: 71%;
  }
  .col-10 {
    width: 79.3333333333%;
  }
  .col-11 {
    width: 87.6666666667%;
  }
  .col-12 {
    width: 96%;
  }
  .hidden-sm {
    display: block;
  }
}

.invited-user {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.invited-user:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.invited-user__icon {
  width: 55px;
  height: 55px;
  background: url("../images/icons/icon-matrix-user-green.png") center no-repeat;
  background-size: 100% auto;
  display: inline-block;
}

.invited-user__name {
  padding-left: 15px;
  flex: 1;
}

.invited-user--empty .invited-user__icon {
  background-image: url("../images/icons/icon-matrix-empty-user.png");
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1000px;
  padding: 0 70px;
  margin: 0 auto;
  box-sizing: border-box;
}

.flex-fill {
  flex: 1;
}

.content {
  flex: 1;
  display: flex;
}

.main {
  flex: 1;
  background: #f2f2f2;
  padding: 40px 26px;
}

@media (min-width: 597px) {
  .main {
    padding: 40px 56px;
  }
}


.footer {
  background: #faf9f7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 45px 56px;
  border-top: 3px solid #27ae61;
}

.b-referral-data-page {
  max-width: 800px;
}

.b-all-bank-cards {
  margin-top: 40px;
}

.b-bank-card {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 380px;
  height: 210px;
  padding: 30px 40px 0;
  margin: 0 60px 60px 0;
  background: #fff;
  border: 1px dashed #212121;
  border-radius: 20px;
  position: relative;
}

.b-bank-card__name {
  height: 70px;
  overflow: hidden;
  font-size: 18px;
}

.b-bank-card__number {
  position: absolute;
  bottom: 60px;
  left: 40px;
  font-size: 28px;
  white-space: nowrap;
  width: 270px;
}

.b-bank-card__edit {
  position: absolute;
  bottom: 30px;
  left: 40px;
}

.b-bank-card__edit a {
  color: #27ae61;
}

.b-add-card {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 350px;
  height: 210px;
  padding: 0;
  background: url("../images/icons/icon-add-card.png") center center no-repeat;
  border: 1px dashed #212121;
  border-radius: 20px;
  position: relative;
}

.b-add-card a {
  display: block;
  width: 100%;
  height: 100%;
}

.b-add-card:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.form-button {
  background-color: #27ae61;
  border: 1px solid #27ae61;
  color: #fff;
  display: inline-block;
  height: 47px;
  padding: 0 15px;
  margin-bottom: 0;
  border-radius: 50px;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  line-height: 47px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-button:hover {
  background: #239d57;
}

.form-help-error,
.form-help-error strong {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  color: #f01717;
}

.form-help-success {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  color: #27ae61;
}

.form-field-label {
  margin: 20px 0 0;
  font-size: 14px;
}

.form-field-value {
  display: block;
  margin: 5px 0 20px;
  font-size: 18px;
  font-weight: 500;
}

select.form-field,
textarea.form-field,
input[type="text"].form-field,
input[type="email"].form-field,
input[type="date"].form-field,
input[type="password"].form-field,
input[type="tel"].form-field {
  box-sizing: border-box;
  height: 44px;
  width: 100%;
  display: block;
  margin: 5px 0 20px;
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
  border: 2px solid #dfdfdf;
  background: #faf9f7;
  max-width: 400px;
}

textarea.form-field {
  min-height: 180px;
  padding: 8px;
  font-size: 16px;
}

.form-checkbox {
  display: block;
  margin: 15px 0;
}

.form-checkbox__input, .form-checkbox__text {
  vertical-align: middle;
}

.pagination {
  margin: 30px 0 !important;
  justify-content: center;
  display: flex;
}

.pagination li {
  margin: 0 8px;
}

.pagination li span,
.pagination li a {
  display: block;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  min-width: 35px;
  text-decoration: none;
  padding: 8px 8px;
  box-sizing: border-box;
  text-align: center;
  color: #212121;
}

.pagination li span:hover,
.pagination li a:hover {
  background: #f7f7f7;
}

.pagination li span {
  cursor: default;
}

.pagination li.active span,
.pagination li.active a {
  background: #27ae61;
  color: #fff;
}

.pagination li.active span:hover,
.pagination li.active a:hover {
  background: #27ae61;
}

.b-withdrawals__amount {
  font-size: 4rem;
  font-weight: bold;
  color: #27ae61;
}

.error-message {
  color: #f01717;
  font-size: 16px;
  margin: 20px 0;
}

.banner {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.banner img {
  vertical-align: top;
  width: 100%;
}

.owl-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.soc-share-button {
  padding: 20px 0;
}

.main > .b-tabs-container {
  margin: -40px -56px;
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
}

.b-tabs-header {
  height: 50px;
  background: #27ae61;
}

.b-tabs-header ul {
  display: flex;
}

.b-tabs-header li {
  background: #27ae61;
}

.b-tabs-header li:hover, .b-tabs-header li.b-tab--is-active {
  background: #239d57;
}

.b-tabs-header a {
  line-height: 50px;
  text-decoration: none;
  padding: 0 20px;
  display: block;
  color: #fff;
}

.b-tabs-content {
  flex: 1;
  padding: 20px 56px 40px;
}

.b-matrix {
  width: 750px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  border-radius: 4px;
}

.b-matrix.b-desk-level-1 {
  background: #e6e6e6;
}

.b-matrix.b-desk-level-2 {
  background: #acdcff;
}

.b-matrix.b-desk-level-3 {
  background: #d9ffda;
}

.b-matrix.b-desk-level-4 {
  background: #ff7c7b;
}

.b-matrix.b-desk-level-5 {
  background: #fdffa9;
}

.b-matrix.b-desk-level-6 {
  background: #7bf2ff;
}

.b-matrix-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  height: 30px;
  padding: 0 16px;
  background: #ffffff;
  border-radius: 4px 4px 0 0;
}

.b-matrix-content {
  padding: 20px;
}

.b-matrix-user {
  text-align: center;
  padding: 10px 0;
}

.b-matrix-user__icon {
  width: 70px;
  height: 70px;
  display: inline-block;
  vertical-align: top;
  background: url("../images/icons/icon-matrix-user-green.png") center no-repeat;
  margin-bottom: 10px;
}

.b-matrix-user--empty .b-matrix-user__icon {
  background-image: url("../images/icons/icon-matrix-empty-user.png");
}

.col-nopaddings {
  padding-right: 0!important;
  padding-left: 0!important;
}

/*# sourceMappingURL=app.css.map */
