.grid-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 540px) {
  .grid-container {
    width: 80%;
  }
}

@media only screen and (min-width: 960px) {
  .grid-container {
    width: 75%;
    max-width: 960px;
  }
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 8px 2%;
  min-height: 2px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.3333333333%;
}

.col-2-sm {
  width: 12.6666666667%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.3333333333%;
}

.col-5-sm {
  width: 37.6666666667%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.3333333333%;
}

.col-8-sm {
  width: 62.6666666667%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.3333333333%;
}

.col-11-sm {
  width: 87.6666666667%;
}

.col-12-sm {
  width: 96%;
}

@media only screen and (min-width: 720px) {
  .col-1 {
    width: 4.3333333333%;
  }
  .col-2 {
    width: 12.6666666667%;
  }
  .col-3 {
    width: 21%;
  }
  .col-4 {
    width: 29.3333333333%;
  }
  .col-5 {
    width: 37.6666666667%;
  }
  .col-6 {
    width: 46%;
  }
  .col-7 {
    width: 54.3333333333%;
  }
  .col-8 {
    width: 62.6666666667%;
  }
  .col-9 {
    width: 71%;
  }
  .col-10 {
    width: 79.3333333333%;
  }
  .col-11 {
    width: 87.6666666667%;
  }
  .col-12 {
    width: 96%;
  }
  .hidden-sm {
    display: block;
  }
}

.b-matrix {
  width: 750px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  border-radius: 4px;
}

.b-matrix.b-desk-level-1 {
  background: #e6e6e6;
}

.b-matrix.b-desk-level-2 {
  background: #acdcff;
}

.b-matrix.b-desk-level-3 {
  background: #d9ffda;
}

.b-matrix.b-desk-level-4 {
  background: #ff7c7b;
}

.b-matrix.b-desk-level-5 {
  background: #fdffa9;
}

.b-matrix.b-desk-level-6 {
  background: #7bf2ff;
}

.b-matrix-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  height: 30px;
  padding: 0 16px;
  background: #ffffff;
  border-radius: 4px 4px 0 0;
}

.b-matrix-content {
  padding: 20px;
}

.b-matrix-user {
  text-align: center;
  padding: 10px 0;
}

.b-matrix-user__icon {
  width: 70px;
  height: 70px;
  display: inline-block;
  vertical-align: top;
  background: url("../images/icons/icon-matrix-user-green.png") center no-repeat;
  margin-bottom: 10px;
}

.b-matrix-user--empty .b-matrix-user__icon {
  background-image: url("../images/icons/icon-matrix-empty-user.png");
}

.b-history {
  margin: 30px 0 30px;
  max-width: 800px;
}

.b-history-filter__title {
  display: inline-block;
}

.b-history-filter__list {
  display: inline-flex;
}

.b-history-filter__list li {
  padding: 0 8px;
}

.b-history-filter__list li:not(:last-child) {
  border-right: 1px solid #ccc;
}

.b-history-filter__list a {
  color: #212121;
}

.b-history-table {
  margin: 30px 0;
  border-spacing: 0;
  border-collapse: collapse;
  max-width: 800px;
  width: 100%;
}

.b-history-table tr {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.b-history-table tr:hover {
  background: #f7f7f7;
}

.b-history-table td {
  height: 36px;
  padding: 10px;
}

.b-history-table-item__amount {
  font-size: 1.8rem;
  font-weight: 600;
  white-space: nowrap;
}

.b-history-table-item__amount--plus {
  color: #27ae61;
}

.b-history-table-item__content {
  max-width: 300px;
  width: 100%;
}

.b-history-table-item__date {
  white-space: nowrap;
}

.b-history-table-item__status {
  white-space: nowrap;
  font-weight: bold;
}

.b-history-table-item__status .icon {
  display: inline-block;
  margin-left: 4px;
}

.b-history-table-item__status--success {
  color: #27ae61;
}

.b-history-table-item__status--success .icon {
  background: url("../images/icons/icon-success.png") no-repeat;
  width: 16px;
  height: 10px;
}

.b-history-table-item__status--wait {
  color: #3a9efd;
}

.b-history-table-item__status--wait .icon {
  display: none;
}

.b-history-table-item__status--fail {
  color: #f01717;
}

.b-history-table-item__status--fail .icon {
  background: url("../images/icons/icon-fail.png") no-repeat;
  width: 11px;
  height: 11px;
}

/*# sourceMappingURL=backpack.css.map */
