.content-block {
    /* border: 1px dashed red; */
    float:left;
}

.sidebar {
    /* border: 1px dashed rebeccapurple; */
    max-width: 35%;
    float: right;

}

@media screen and (max-width: 880px) {

    .content-block {
        margin: 0 auto;
        /* border: 1px dashed red; */
        float: none;
    }

    .sidebar {
        min-width: 65%;
        margin: 0 auto;
        /* border: 1px dashed red; */
        /* float: right; */
        float: none;

    }
}