// --------------------------------------------------
// Base style
// --------------------------------------------------
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;

    background-color: $background-color;
    color: $primary-text-color;

    font-size: $fsz-def;
    font-family: $ff-def;
    line-height: $line-height-def;

    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

html {
    font-size: 10px;
}

a {
    color: $link-color;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
    margin: 0;
    color: $primary-text-color;
}

ul:not(.browser-default),
ul:not(.default-style) {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

// --------------------------------------------------
