// ----------------------------------------------
// Base Color
// ----------------------------------------------
//$dark-primary-color: #388e3c;
//$primary-color: #4caf50;
$light-primary-color: #c8e6c9;
$text-and-icon-color: #fff;
$accent-color: #00dcd4;
$secondary-text-color: #757575;
//$divider-color: #bdbdbd;
$no-icon-color: #d2d2d2;
$light-divider-color: #e0e0e0;
// border  #d9d9d9



$primary-text-color: #212121;
$white-text-color: #fff;

$background-color: #faf9f7;
$link-color: #03A9F4;
$blue-color: #3a9efd;
$primary-color: #27ae61;
$red-color: #f01717;
$divider-color: #e1e1e1;
$dark-primary-color: #239d57;

// ----------------------------------------------
// Fonts
// ----------------------------------------------
$font-base: 'Roboto', Arial, Verdana, Helvetica, sans-serif;

$line-height-def: normal;
$ff-def: $font-base;
$fsz-def: 1.4rem;

// ----------------------------------------------
$z-depth-1: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
$z-depth-2: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
$z-depth-3: 0 6px 10px 0 rgba(0,0,0,0.14),0 1px 18px 0 rgba(0,0,0,0.12),0 3px 5px -1px rgba(0,0,0,0.3);
$z-depth-4: 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.3);
$z-depth-5: 0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.3);

// ----------------------------------------------
